body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #3e0038, #c004ad); /* Dark purple gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.message {
    text-align: center;
    z-index: 1;
}

.message h1 {
    color: aliceblue;
    font-size: 36px; /* Increased font size */
    font-weight: bold; /* Bolder font weight */
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out;
}

.message .xayah {
    color: #d4a5d4; /* Lighter purple color for Xayah */
}

.message .rakan {
    color: #ffd699; /* Lighter orange color for Rakan */
}

.hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.heart {
    position: absolute;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: #ff3366;
    transform: rotate(-45deg);
    animation: float 5s infinite;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: inherit;
    border-radius: 50%;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 25px;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-45deg);
    }
    100% {
        transform: translateY(-100vh) rotate(-45deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .message h1 {
        font-size: 28px; /* Adjusted font size for smaller screens */
    }
}